@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --spacing-03:24px;
    --ui-lightgrey:#e5e5e5;
    --ui-background-00:#ffffff;

}
*
{
    box-sizing:border-box;
    margin:0;
}
body{
    background:var(--ui-background-00);
}
.horizontally-padded-container
{
    margin:0 30%;
}
.vertically-padded-container
{
    margin:15% 0;
}
.signup-flex
{
    display:flex;
    flex-direction:column;
    padding:var(--spacing-03);
    border:3px solid var(--ui-lightgrey);
    /* border-radius */

}