<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Wait until we sign you up</p>
    <main>
        <form action="/users/sign-up" method="post">
           <fieldset>
            <label for="U">Username: <input id="U" name="username" type="text" required></label>
            <label for="E">Email: <input id="E" name="email" type="email" required></label>
            <label for="P">Password: <input id="P" name="password" type="password" required></label>
            <button type="submit">SIGN UP</button>
           </fieldset> 
        </form>      
    </main>    

</body>
</html>