<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/stylesForSignup.css" rel="stylesheet">
</head>
<body>
    <div class="horizontally-padded-container">
        <div class="vertically-padded-container">
            <div class="signup-flex">
                <div class="header-container">
                    <h6 class="header">Create your chat Account</h6>
                </div>
                <div class="credentials-container">
                    <div class="email">
                        <h4><span>Email</span></h4>
                        <form action="" method="post">
                            <input name="email"  type="email" placeholder="Enter your email..." required>
                        </form>
                    </div>
                    <div class="username">
                        <h4><span>Username</span></h4>
                        <form action="" method="post">
                            <input name="username" type="text" placeholder="Enter your display name..." required>
                        </form>
                    </div>
                    <div class="password">
                        <h4><span>Password</span></h4>
                        <form action="" method="post">
                            <input name="password" type="password" placeholder="Enter your password..." required>
                        </form>
                    </div>
                </div>
                <div class="post-action-container">
                    <div class="signup-btn-container">
                        <button class="signup-btn">Sign Up</button>
                    </div>
                    <div class="T&C">
                        <form action="" method="post">
                            <input name="T&C+PP" type="checkbox"><span>I have read and agree to the <a href="https://discord.com/terms">Terms of Service</a>and <a href="https://discord.com/privacy">Privacy Policy.</a></span>
                        </form>
                    </div>
                    <div class="login-redirect">
                        <h3><span>Already have an account? <a href="https://discord.com/register">Sign in</a></span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</body>
</html>
